h1{
    color:brown; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

body{
    background-color:burlywood; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif



}

form{text-align: center; font-size:xx-large; padding-top:2in;}

img{ width: 400px;  
    height: 400px; text-align: center;}

button{
    width: 100px; height: 35px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large;
}

section1{
    float:left;
    padding-bottom:2in;

}

section2{
    float:right;
}